@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #b8b7b7a0; */
}



/* header related style */


.navber{
    display: flex;
     max-width: 1400px;
    margin: 0 auto;
    margin-top: 85px;
    justify-content: space-between;
    
}

.nav-links{
    display: flex;
    gap: 34px;
}

.nav-item{
   list-style: none;
}

.nav-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.nav-title{
    font-size: 1.50rem;
    font-weight: 700;
    color: #3A3A3A;
}

/* banner style */
.nav-banner{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    
}

.banner{
    max-width: 582px;
}
.banner-text{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 16px;
    color: #3A3A3A
}

.banner-paragraph{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 16px;
}
.btn{
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #E02C6D;
    padding: 24px;
    border-radius: 41px;
    border: none;
}

.banner-image{

    max-width: 440px;
    margin-left: 150px;
    margin-top: -60px;
    background-image: url(../images/Circle\ design.svg) ;
    color:  #F1E4FF;
    
}

/* companies style */
.compnaies-image{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 110px;
    gap: 70px;
    filter: blur(50%);
}

/* card related style */
.collection{
    max-width: 1050px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.collection-title{
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    color: #3A3A3A;
}

.card-container{
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px 0px #cfcccc;
    /* border: 1px solid beige; */
    padding: 15px;
    
}

.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 330px;
    gap: 30px;
 }  

.card-image{
    max-width: 300px;
    border-radius: 5px;
}
.card-right{
   text-align: start;
   /* margin-left: 14px; */
}

.card-name{
    font-size: 1.80rem;
    font-weight: 500;
    line-height: 40px;
    color: #18191F;
}

.card-price{
    font-size: 1.50rem;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
}

.card-star{
    color: #FB8200;
    margin-bottom: 2px;
}
#card-star-s{
    color: #5E6366;
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 22px;
}

.card-text{
    font-size: 0.96rem;
    font-weight: 600;
    color: #787885;
    line-height: 143%;
}

.collection-more{
    font-size: 1rem;
    font-weight: 700;
    color: #E02C6D;
    margin-top: 50px;
    text-align: end;
}

/* featured related style */
.featured{
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 100px;
   
}
.featured-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 96px;
}

.featured-image{
    max-width: 404px;
}

.featured-context{
    max-width: 610px;
    margin-top: 25px;
}

.featured-text{
    font-size: 2.37rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: #0e0a3b;

}

.featured-paragraph{
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    color: #6e6b6b;
    margin-bottom: 12px;
}
.bttn{
    border-radius: 0;
    padding-right: 10px 10px;
}

/* footer related style */
footer{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    background-color: #0e0b30;
}

.last-container{
    padding: 50px;
    /* max-width: 262px; */
   

}

.last-title{
    font-size: 1.50rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 5px;
}

.last-text{
    font-size: 0.97rem;
    font-weight: 700;
    color: #D9DBE1;
    line-height: 24px;
    margin-bottom: 18px;
}

.last-image{
    display: flex;
    gap: 16px;
    justify-content: center;
    filter: var(#ffffff);
}